/* Style Sheet for handhelds*/

div.layoutPage {
    font-size:100%;
}

div.globalNavigationMain ul li a {
	padding-right: 0.5em;
    padding-left: 0.5em;
}

h2 /* red headline to see whether handheld style is applied */
{
    color:red;
}

.Button
{
    width: 25%;
}

.DropDown
{
    width:100%;
    margin-right: 1em;
}

.Inputfield2{ /* for text */
    width:100%;
    margin-right: 1em;
}

.Inputfield1{ /* for numbers */
    width:25%;
}